%i#toggle.icon-align-justify.icon-large

%ul#dock
  %li.launcher
    %i.icon-dashboard
    =link_to 'Users', users_hq_dashboard_index_path
  %li.launcher
    %i.icon-file-text-alt
    =link_to 'Teachers',  teachers_hq_dashboard_index_path

#beaker{data: {toggle: 'tooltip'}, title: 'Made by Kozalak'}
