#navbar.navbar
  %a.navbar-brand{:href => '#'}
    %i.icon-beer
    Kozalak Admin Panel
  %ul.nav.navbar-nav.pull-right
    %li.dropdown.user
      %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
        %i.icon-user
        %strong
          = current_admin.email
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => profile_hq_dashboard_index_path} Edit Profile
        %li.divider
        %li
          =link_to 'Sign out', 'index.html'
