#navbar.navbar
  %a.navbar-brand{:href => '#'}
    %i.icon-beer
    Kozalak | Teacher Panel
  %ul.nav.navbar-nav.pull-right
    %li.dropdown.user
      %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
        %i.icon-user
        %strong= current_teacher.email
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => '#'} Edit Profile
        %li.divider
        %li
          =link_to 'Sign out', destroy_teacher_session_path