%table.table
  %thead
    %tr
      %th #
      %th First Name
      %th Last Name
      %th Email
      %th Action
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td.action
          %a.btn.btn-info{href: user_path(user)}
            %i.icon-zoom-in
