<div id="navmenu">

  <li><div id="logo">1</div> </li>
  <li><div id="logo1">2</div> </li>
  <li><div id="logo2">3</div> </li>
  <li><div id="logo3">4</div> </li>
  <li><div id="logo4">5</div> </li>
  <li><div id="logo5">6</div> </li>



</div>